@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
<<<<<<< HEAD
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
=======
  font-family: 'Open Sans', sans-serif;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
>>>>>>> develop
}

code {
  font-family: 'Open Sans', sans-serif;
}
